{% load widget_tweaks %}
{% load cms_widget %}
{% load formfield_widget %}

{#<div class="box box-info">#}
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        <div class="box-body">
        {% for field in form %}
            {% if field|is_formfield %}
                {{ field }}
            {% else %}
            <div class="form-group">
            {% if field|is_checkbox %}
                <div class="checkbox col-md-offset-2 col-md-9">
                    <label for="{{ field.id_for_label }}">
                        {{ field }}
                        {{ field.label }}
                    </label>
                </div>
            {% else %}
                <label for="{{ field.id_for_label }}" class="col-md-2 control-label">
                    {{ field.label }}
                </label>
                <div class="col-md-9">
                    {% render_field field class="form-control" %}
                </div>
            {% endif %}
            </div>
            {% endif %}
        {% endfor %}
        </div><!-- /.box-body -->
        <div class="box-footer">
            <div class="col-md-11">
                <button type="button" class="btn btn-default" onclick="window.location.reload();"
                        {% if detail_info.enabled == False %}disabled{% endif %}>
                    取消
                </button>

                {% if deletion_url %}
                <button type="button" class="btn btn-danger"
                        data-toggle="modal" data-target="#modal-disable"
                        {% if detail_info.enabled == False %}disabled{% endif %}>
                    删除&hellip;
                </button>
                {% endif %}

                <button type="submit" class="btn btn-info pull-right"
                        {% if detail_info.enabled == False %}disabled{% endif %}>
                    {% if form.submit_button_value %}
                        {{ form.submit_button_value }}
                    {% else %}
                        添加
                    {% endif %}
                </button>

            </div>
        </div>
    </form>
    {% if deletion_url %}
    <div class="modal modal-danger fade" id="modal-disable">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">删除&hellip;</h4>
          </div>
          <div class="modal-body">
            <p>删除后数据将丢失，是否继续&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
            <form method="POST" action="{{ deletion_url }}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline">仍然删除</button>
            </form>

          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    {% endif %}
{#</div>#}