{% extends 'base_related.html' %}
{% load widget_tweaks %}
{% load cms_widget %}
{% load formfield_widget %}
{% load datatables_widget %}

{% block breadcrumb %}
    <li><i class="ion ion-ios-paper-outline"></i> 案件管理</li>
    <li> 案件详情</li>
    <li> {{ main_object }}</li>
{% endblock breadcrumb %}

{% block content-title %}
    案件详情<small>{{ object.name }}</small>
{% endblock content-title %}

{% block content_tab %}
    {% if not view.is_related and view.action is None or view.action == 'create' %}
        {% render_form %}
    {% elif view.is_related%}
        {% render_table dt_config %}
    {% else %}
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-hover" style="text-align: right;">
                    <thead>
                        <tr>
                            <th></th>
                            <th style="width: 50px;">货币</th>
                            <th style="width: 100px; text-align: right;">金额</th>
                            <th style="width: 100px; text-align: right;">汇率</th>
                            <th style="width: 150px; text-align: right;">金额(人民币)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for subcase in object.subcase_set.all %}
                    <tr class="bg-teal" style="text-align: left;">
                        <th colspan="5">
                            <i>分案：</i>
                            {{ subcase.name }}
                        </th>
                    </tr>
                        {% for rt in subcase.receipts_iter %}
                        <tr>
                            <td></td>
                            <td>
                                <span class="label label-primary">
                                    {{ rt.currency_id }}
                                </span>
                            </td>
                            <td>
                                 <span style="color: #d33724;">{{ rt.amount }}</span>
                            </td>
                            <td>
                                <i>{{ rt.exchange_rate }}</i>
                            </td>
                            <td>
                                &#65509;
                                <span style="color: #d33724;">{{ rt.amount_cny|floatformat:2 }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <i>转账手续费</i>
                            </td>
                            <td>
                                &#65509;
                                <span style="color: #00a65a;"><b>-</b>{{ rt.transfer_charge.amount|floatformat:2 }}</span>
                            </td>
                        </tr>
                        {% endfor %}

                        <tr style="background-color: #F3EAEA;">
                            <td colspan="4">
                                <b>收款小计(减去手续费)：</b>
                            </td>
                            <td style="font-size: 16px;">
                                <span style="color: #d33724;">
                                    <b>&#65509;{{ subcase.receipts_sum_cny|floatformat:2 }}</b>
                                </span>
                            </td>
                        </tr>


                        {% for pm in subcase.payment_iter %}
                        <tr>
                            <td>
                                {% if pm.linked_amount > 0.0 %}
                                    <i>已转移: {{ pm.linked_amount }}</i>
                                {% endif %}
                            </td>
                            <td>
                                <span class="label label-primary">
                                    {{ pm.currency_id }}
                                </span>
                            </td>
                            <td>
                                {# 注意这里需要使用unlinked_amount属性 #}
                                <span style="color: #00a65a;">{{ pm.unlinked_amount }}</span>
                            </td>
                            <td>
                                <i>{{ pm.exchange_rate }}</i>
                            </td>
                            <td>
                                &#65509;
                                {# 注意这里需要使用unlinked_amount_cny属性 #}
                                <span style="color: #00a65a;"><b>-</b>{{ pm.unlinked_amount_cny|floatformat:2 }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <i>转账手续费</i>
                            </td>
                            <td>
                                &#65509;
                                <span style="color: #00a65a;"><b>-</b>{{ pm.transfer_charge.amount|floatformat:2 }}</span>
                            </td>
                        </tr>
                        {% endfor %}

                        <tr style="background-color: #F3EAEA;">
                            <td colspan="4">
                                <b>付款小计(包含手续费)：</b>
                            </td>
                            <td style="font-size: 16px;">
                                <span style="color: #00a65a;">
                                    <b>&#65509;-{{ subcase.payment_sum_cny|floatformat:2 }}</b>
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <th colspan="4">
                                <span style="margin-left: 50px;"><i>其它已付款项(转移)</i></span>
                            </th>
                            <th style="font-size: 16px; text-align: right;">
                                <span style="color: #00a65a;">
                                    <b>&#65509;-{{ subcase.paymentlink_sum_cny|floatformat:2 }}</b>
                                </span>
                            </th>
                        </tr>
                        {% for plink in subcase.paymentlink_set.all %}
                        {% if plink.enabled %}
                        <tr>
                            <td>
                                <span style="margin-right: 50px;">
                                    <i>
                                        {{ plink.payment.payable.subcase.case.name }}-
                                        {{ plink.payment.payable.subcase.name }}
                                    </i>
                                </span>
                            </td>
                            <td>
                                <span class="label label-primary">
                                    {{ plink.payment.currency_id }}
                                </span>
                            </td>
                            <td>
                                 <span style="color: #00a65a;">{{ plink.amount }}</span>
                            </td>
                            <td>
                                <i>{{ plink.payment.exchange_rate }}</i>
                            </td>
                            <td>
                                &#65509;
                                <span style="color: #00a65a;"><b>-</b>{{ plink.amount_cny|floatformat:2 }}</span>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}

                        <tr style="text-align: left;">
                            <th colspan="4">
                                <span style="margin-left: 50px;"><i>其它收入</i></span>
                            </th>
                            <th style="font-size: 16px; text-align: right;">
                                <span style="color: #d33724;">
                                    <b>&#65509;{{ subcase.income_sum_cny|floatformat:2 }}</b>
                                </span>
                            </th>
                        </tr>
                        {% for income in subcase.income_set.all %}
                        {% if income.enabled %}
                        <tr>
                            <td>
                                <span style="margin-right: 50px;"><i>{{ income.income_type.name }}</i></span>
                            </td>
                            <td>
                                <span class="label label-primary">
                                    {{ income.currency_id }}
                                </span>
                            </td>
                            <td>
                                 <span style="color: #d33724;">{{ income.amount }}</span>
                            </td>
                            <td>
                                <i>{{ income.exchange_rate }}</i>
                            </td>
                            <td>
                                &#65509;
                                <span style="color: #d33724;">{{ income.amount_cny|floatformat:2 }}</span>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}

                        <tr>
                            <th colspan="4">
                                <span style="margin-left: 50px;"><i>其它支出</i></span>
                            </th>
                            <th style="font-size: 16px; text-align: right;">
                                <span style="color: #00a65a;">
                                    <b>&#65509;-{{ subcase.expense_sum_cny|floatformat:2 }}</b>
                                </span>
                            </th>
                        </tr>
                        {% for expense in subcase.expense_set.all %}
                        {% if expense.enabled %}
                        <tr>
                            <td>
                                <span style="margin-right: 50px;"><i>{{ expense.expense_type.name }}</i></span>
                            </td>
                            <td>
                                <span class="label label-primary">
                                    {{ expense.currency_id }}
                                </span>
                            </td>
                            <td>
                                 <span style="color: #00a65a;">{{ expense.amount }}</span>
                            </td>
                            <td>
                                <i>{{ expense.exchange_rate }}</i>
                            </td>
                            <td>
                                &#65509;
                                <span style="color: #00a65a;"><b>-</b>{{ expense.amount_cny|floatformat:2 }}</span>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                    <tfoot style="border-top: 2px solid #b5bbc8; font-size: 18px;">
                        <tr>
                            <th colspan="4" style="text-align: right;">
                                <b>总计：</b>
                            </th>
                            <th style="text-align: right;">
                                 &#65509;
                                <span style="color: {% if object.balance_amount_cny < 0 %}#00a65a{% else %}#d33724{% endif %};">
                                    <b>{{ object.balance_amount_cny|floatformat:2 }}</b>
                                </span>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block addtional_tab %}
    {% if not view.is_related %}
    <li {% if not view.is_related and view.action == 'show_balance' %}class="active"{% endif %}>
        <a href="?action=show_balance">
            收支信息
        </a>
    </li>
    {% endif %}
{% endblock addtional_tab %}

{% block javascript %}
    {% if view.is_related and view.action == 'list' %}
        {% render_js_script dt_config %}
    {% endif %}
{% endblock javascript %}
