{% extends 'base.html' %}
{% load datatables_widget %}

{% block breadcrumb %}
    <li><i class="fa fa-money"></i> 已收款项管理</li>
    <li><i class="fa fa-list-ol"></i> 已收款项列表</li>
{% endblock breadcrumb %}

{% block content-title %}
已收款项列表
{% endblock content-title %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    {% render_table dt_config %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    {% render_js_script dt_config %}
{% endblock javascript %}