{% extends 'base_related.html' %}
{% load widget_tweaks %}
{% load cms_widget %}
{% load formfield_widget %}
{% load datatables_widget %}

{% block breadcrumb %}
    <li><i class="fa fa-money"></i> 已收款项管理</li>
    <li> 已收款项详情</li>
    <li> {{ main_object }}</li>
{% endblock breadcrumb %}

{% block content-title %}
    已收款项详情<small>{{ object.name }}</small>
{% endblock content-title %}

{% block content_tab %}
    {% if not view.is_related or view.action == 'create' %}
        {% render_form %}
    {% else %}
        {% render_table dt_config %}
    {% endif %}
{% endblock %}

{% block javascript %}
    {% if view.is_related and view.action == 'list' %}
        {% render_js_script dt_config %}
    {% endif %}
{% endblock javascript %}
