{% extends 'base_related.html' %}
{% load widget_tweaks %}
{% load cms_widget %}
{% load datatables_widget %}

{% block breadcrumb %}
    <li><i class="fa fa-user-circle"></i> 客户管理</li>
    <li> 客户详情</li>
    <li> {{ main_object }}</li>
{% endblock breadcrumb %}

{% block content-title %}
    客户详情
{% endblock content-title %}

{% block content_tab %}
    {% if not view.is_related or view.action == 'create' %}
        {% render_form %}
    {% else %}
        {% render_table dt_config %}
    {% endif %}
{% endblock %}

{% block javascript %}
    {% if view.is_related and view.action == 'list' %}
        {% render_js_script dt_config %}
    {% endif %}
{% endblock javascript %}
