{% extends 'base.html' %}
{% load widget_tweaks %}
{% load cms_widget %}

{% block content-title %}
    新增客户
{% endblock content-title %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="box box-info">
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                <div class="box-body">
                {% for field in form %}
                    <div class="form-group">
                    {% if field|is_checkbox %}
                        <div class="checkbox col-md-offset-2 col-md-8">
                            <label for="{{ field.id_for_label }}">
                                {{ field }}
                                {{ field.label }}
                            </label>
                        </div>
                    {% else %}
                        <label for="{{ field.id_for_label }}" class="col-md-2 control-label">
                            {{ field.label }}
                        </label>
                        <div class="col-md-8">
                            {% render_field field class="form-control" %}
                        </div>
                        <div class="col-md-2"></div>
                    {% endif %}
                    </div>
                {% endfor %}
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <div class="col-md-10">
                        <button type="button" class="btn btn-default" onclick="window.location.reload();">取消</button>
                        <button type="submit" class="btn btn-info pull-right">增加</button>
                    </div>
                </div>
            </form>
        </div><!-- /.col-md-8 -->
    </div><!-- /.row -->
</div>
{% endblock content %}